Brewfile.lock.json
backup/Library/Application Support/Adobe/
backup/Library/Application Support/Adobe/OOBE/ANEData.db
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps.8368636E5D0A98F10A495C4F.prefs
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/cookie
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/icons
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/metadata
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/products/8368636E5D0A98F10A495C4F@fullerton.edu/_data
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/products/8368636E5D0A98F10A495C4F@fullerton.edu/_metadata
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.container/features/8368636E5D0A98F10A495C4F@fullerton.edu/_data
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps.8368636E5D0A98F10A495C4F.prefs
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/cookie
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/icons
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/Icons_96/metadata
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/products/8368636E5D0A98F10A495C4F@fullerton.edu/_data
backup/Library/Application Support/Adobe/OOBE/com.adobe.accc.apps/products/8368636E5D0A98F10A495C4F@fullerton.edu/_metadata
backup/Library/Application Support/Adobe/OOBE/ANEData.db
backup/Library/Application Support/Adobe/OOBE/ANEData.db
